<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
        <div class="user-prev">
            <div class="circle-image">
               <img src="https://unsplash.it/200/500?image=314">
            </div>
            <div class="user-info">
                <h4>Lily Tan</h4>
                <h6>@lilytan01</h6>
            </div>
            <hr>
        </div>

      <a href="#"><li>Home</li></a>
      <a href="#"><li>About</li></a>
      <a href="#"><li>Bonus</li></a>
      <a href="#"><li>Improve your data</li></a>
      <a href="#"><li>Settings</li></a>
      <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
    </ul>
  </div>
</nav>