{% extends "layout.html" %}


{% block content %}
<style>
    body {
      margin: 0;
      min-width: 250px;
    }
    
    /* Include the padding and border in an element's total width and height */
    * {
      box-sizing: border-box;
    }
    
    /* Remove margins and padding from the list */
    ul {
      margin: 0;
      padding: 0;
    }
    
    /* Style the list items */
    ul li {
      cursor: pointer;
      position: relative;
      padding: 12px 8px 12px 40px;
      list-style-type: none;
      background: #eee;
      font-size: 18px;
      transition: 0.2s;
      
      /* make the list items unselectable */
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Set all odd list items to a different color (zebra-stripes) */
    ul li:nth-child(odd) {
      background: #f9f9f9;
    }
    
    /* Darker background-color on hover */
    ul li:hover {
      background: #ddd;
    }
    
    /* When clicked on, add a background color and strike out text */
    ul li.checked {
      background: #888;
      color: #fff;
      text-decoration: line-through;
    }
    
    /* Add a "checked" mark when clicked on */
    ul li.checked::before {
      content: '';
      position: absolute;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 10px;
      left: 16px;
      transform: rotate(45deg);
      height: 15px;
      width: 7px;
    }
    
    /* Style the close button */
    .close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 12px 16px 12px 16px;
    }
    
    .close:hover {
      background-color: #36cef4;
      color: white;
    }
    
    /* Style the header */
    .header {
      background-color: #36cef4;
      padding: 30px 40px;
      color: white;
      text-align: center;
    }
    
    /* Clear floats after the header */
    .header:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Style the input */
    select {
      margin: 0;
      border: none;
      border-radius: 0;
      width: 75%;
      padding: 10px;
      float: left;
      font-size: 16px;
    }
    
    /* Style the "Add" button */
    .addBtn {
      padding: 10px;
      width: 25%;
      background: #d9d9d9;
      color: #555;
      float: left;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 0;
    }
    
    .addBtn:hover {
      background-color: #bbb;
    }

    #textblock{
      width: 600px; 
      text-align:center;
      margin: 0 auto;
      font-size: 25px;
      color: #36cef4;
      font-weight: bold}
    </style>
    </head>
    <body>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div id="plan">
    <div id="myDIV" class="header">
      <h2 style="margin:20px;">My Exercise Calorie Plan </h2>
      <select id="exercise">
        <option name='Jogging' value ="9.25" >Jogging</option>
        <option name='Swimming' value ="9.15">Swimming</option>
        <option name='Basketball' value ="8.25">Basketball</option>
        <option name='Soccer' value ="8.85">Soccer</option>
        <option name='Walking' value ="4.25">Walking</option>
        <option name='Cycling' value ="7">Cycling</option>
        <option name='Jumping Rope' value ="11">Jumping Rope</option>
        <option name='Skating' value ="10">Skating</option>
      </select>
      <select id="time" name='Time'>
        <option value = "30">30 Minutes</option>
        <option value = "45">45 Minutes</option>
        <option value = "60">60 Minutes</option>
        <option value = "75">75 Minutes</option>
        <option value = "90">90 Minutes</option>
        <option value = "105">105 Minutes</option>
        <option value = "120">120 Minutes</option>
      </select>
      <span onclick="newElement()" class="addBtn">Add</span>
    </div>
    
    <ul id="myUL">
    </ul>
    <div id="textblock">
    <p id='congrats' style="display: none;margin-top:500px;">You have successfully lost <span id='calorie' name="calorie"></span> calories today!</p>
    
    </div>
    </div>
    <script>
    var energy={'Jogging':9.25, 'Swimming':9.15,'Basketball':8.25,'Soccer':8.85,'Walking':4.25,'Cycling':7,'Jumping Rope':11,'Skating':10};


    // Create a "close" button and append it to each list item
    var myNodelist = document.getElementsByTagName("LI");
    var i;
    for (i = 0; i < myNodelist.length; i++) {
      var span = document.createElement("SPAN");
      var txt = document.createTextNode("\u00D7");
      span.className = "close";
      span.appendChild(txt);
      myNodelist[i].appendChild(span);
    }
    


    // Click on a close button to hide the current list item
    var close = document.getElementsByClassName("close");
    var i;
    for (i = 0; i < close.length; i++) {
      close[i].onclick = function() {
        var div = this.parentElement;
        div.style.display = "none";
      }
    }


    
    // Add checked symbol when clicking on a list item
    var list = document.querySelector('ul');
    list.addEventListener('click', function(ev) {
      if (ev.target.tagName === 'LI') {
        ev.target.classList.toggle('checked');
        var used=0
        var sentence=ev.target.textContent
        var long=sentence.split(' ')
        var firststring=sentence.split(' ')[0]
        var minute=long[long.length-2]
        var value=energy[firststring]
        if(ev.target.classList=='checked'){
          //Add calorie calculation
            document.getElementById('congrats').style.display='block'
            used+=value*minute
            document.getElementById("calorie").innerHTML=used
            return used
        }
      }
    }, false);
    



    // Create a new list item when clicking on the "Add" button
    function newElement() {
      var li = document.createElement("li");
      var inputValue = document.getElementById("exercise").options[document.getElementById('exercise').selectedIndex].text +" for " + document.getElementById("time").value + " minutes";
      var t = document.createTextNode(inputValue);
      li.appendChild(t);
      if (inputValue === '') {
        alert("You must write something!");
      } else {
        document.getElementById("myUL").appendChild(li);
      }
      document.getElementById("exercise").value = "";
      document.getElementById("time").value = "";
    
      var span = document.createElement("SPAN");
      var txt = document.createTextNode("\u00D7");
      span.className = "close";
      span.appendChild(txt);
      li.appendChild(span);
    
      for (i = 0; i < close.length; i++) {
        close[i].onclick = function() {
          var div = this.parentElement;
          div.style.display = "none";
        }
      }
    }
    </script>
{% endblock %}